<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Publicaciones del usuario <%= pluralize(current_user.microposts.count, "micropost") %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Aplicacion de Test</h1>

  <h2>
    Esta pagina es una prueba para un Portal de <a href="http://www.informese.co/">Informese</a> guiada en este libro 
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.
  </h2>

  <%= link_to "Crear Usuario", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%end%>