<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Crear publicacion..." %>
  </div>
  <span>Imagen:</span><span class="picture">
    <%= f.file_field :picture %>
  </span>
  <span>Archivo:</span><span class="picture">
    <%= f.file_field :file %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
  
<% end %>