<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Subir Archivo</h3>
  </div>
  <%= form_for @resume, html: { multipart: true, :class => "form-inline" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="row panel-body">
        <div class="col-md-3"><%= f.label :file_url,  "Data: " %></div>
        <div class="col-md-7"><%= f.file_field :file_url , options = {:required => true} %></div>
        <div class="col-md-2"><%= f.submit "Subir Archivo", class: "btn btn-primary btn-xs" %></div>
      </div>
  <% end %>
</div>